<!DOCTYPE html>
<html>
  <head>
    <title>TheCoolestGameBlog</title>
    <meta name="google-site-verification" content="GB5AEQjHL-6lcIH6KO7cMtUTpt6HL5vL5Candv4dYh4" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>

    <%= render 'front/header' %>

<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
  </head>

  <body>
    <%= yield %>
    <%= render 'front/other_stuff'%>
  </body>
</html>
