<!DOCTYPE html>
<html>
  <head>
    <title>TheCoolestGameBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'front/header' %>


  </head>
<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
  <body>
    <%= yield %>
    <%= render 'front/other_stuff'%>
  </body>
</html>
